@model ScheduleBTEC.DTO.ScheduleDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endDate" class="control-label"></label>
                <input asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="session" class="control-label"></label>
                <select asp-for="session" class="form-control">
                    <option value="1">Mon</option>
                    <option value="2">Tues</option>
                    <option value="3">Wednes</option>
                    <option value="4">Thurs</option>
                    <option value="5">Fir</option>
                    <option value="6">Satur</option>
                    <option value="7">Sun</option>
                </select>
                <span asp-validation-for="session" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timelearn" class="control-label"></label>
                <select asp-for="timelearn" class="form-control">
                    <option value="1">Slot 1</option>
                    <option value="2">Slot 2</option>
                    <option value="3">Slot 3</option>
                    <option value="4">Slot 4</option>
                </select>
                <span asp-validation-for="timelearn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearnId" class="control-label"></label>
                <select asp-for="LearnId" class="form-control" asp-items="ViewBag.LearnId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
